@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@300&family=Satisfy&display=swap");

@include mobileS {
  .pokemons {
    width: 8em;
    height: 13em;
    margin: 5%;
  }
  .divImage{
    width: 80%;
    height: 50%;
  }
  .imgPoke {
    height: 6em;
  }

  p {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
  .divp {
    margin-top: 5%;
  }
}

@include tablet {
  .pokemons {
    width: 14em;
    height: 21em;
  }
  .imgPoke {
    height: 10em;
  }
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .divp {
    margin: 5%;
  }
  .divImage{
    width: 80%;
  height: 80%;
  }
  p {
    font-size: 100%;
  }
  h3 {
    font-size: 100%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemons {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/wallcardpoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
  text-align: center;
  border-radius: 5%;
  border: 8px solid rgb(255, 217, 0);
  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px white);
  }
}

.divImage {
  object-fit: contain;
  background-image: url(../images/backimgpoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  //   width: 12em;
  //   height: 12em;
  border-radius: 10%;
  border: 1px solid rgb(255, 255, 255);
}

.imgPoke {
  object-fit: contain;
  margin: 0;
  padding: 0;
  width: 85%;
  filter: drop-shadow(0px 0px 10px rgb(0, 214, 150));
  &:hover {
    transform: scale(1.2);
  }
}
h3 {
  object-fit: contain;
  width: 80%;
  background-color: rgba(240, 240, 240, 0.59);
  text-transform: capitalize;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 0px 10px rgb(0, 214, 150);
}

.divp {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.59);
  width: 85%;
  max-height: 70%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(0, 214, 150);
}

p {
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin: 1%;
  padding: 0;
}
