@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@300&family=Satisfy&display=swap");
body {
  background-image: url(../images/wallpaper_pokedex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (min-width: 320px) {
  .pokemons {
    width: 8em;
    height: 13em;
    margin: 5%;
  }
  .divImage {
    width: 80%;
    height: 50%;
  }
  .imgPoke {
    height: 6em;
  }
  p {
    font-size: 70%;
  }
  h3 {
    font-size: 70%;
  }
  .divp {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 450px) {
  .pokemons {
    width: 14em;
    height: 21em;
  }
  .imgPoke {
    height: 10em;
  }
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .divp {
    margin: 5%;
  }
  .divImage {
    width: 80%;
    height: 80%;
  }
  p {
    font-size: 100%;
  }
  h3 {
    font-size: 100%;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemons {
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/wallcardpoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1%;
  text-align: center;
  border-radius: 5%;
  border: 8px solid #ffd900;
}

.pokemons:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 0px 10px white);
          filter: drop-shadow(0px 0px 10px white);
}

.divImage {
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url(../images/backimgpoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10%;
  border: 1px solid white;
}

.imgPoke {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  padding: 0;
  width: 85%;
  -webkit-filter: drop-shadow(0px 0px 10px #00d696);
          filter: drop-shadow(0px 0px 10px #00d696);
}

.imgPoke:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

h3 {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  background-color: rgba(240, 240, 240, 0.59);
  text-transform: capitalize;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  -webkit-box-shadow: 0px 0px 10px #00d696;
          box-shadow: 0px 0px 10px #00d696;
}

.divp {
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(240, 240, 240, 0.59);
  width: 85%;
  max-height: 70%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px #00d696;
          box-shadow: 0px 0px 10px #00d696;
}

p {
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin: 1%;
  padding: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 320px) {
  .title {
    max-width: 80%;
    padding: 5%;
    -webkit-filter: drop-shadow(0px 0px 10px #aa0000);
            filter: drop-shadow(0px 0px 10px #aa0000);
  }
  .ballserch {
    width: 8%;
  }
  .containerSearch {
    border-radius: 5%;
  }
  .searchValue {
    width: 60%;
  }
}

@media only screen and (min-width: 450px) {
  .title {
    padding: 4%;
    -webkit-filter: drop-shadow(0px 0px 10px #aa0000);
            filter: drop-shadow(0px 0px 10px #aa0000);
  }
  .ballserch {
    width: 5%;
  }
  .containerSearch {
    border-radius: 15%;
  }
  .searchValue {
    width: 35%;
  }
}

.gif {
  background-image: url(../images/wallpaper_title.jpg);
  -webkit-box-shadow: 0px 0px 5px 5px #00a1e0, 0px 0px 5px 5px #00a1e0 inset;
          box-shadow: 0px 0px 5px 5px #00a1e0, 0px 0px 5px 5px #00a1e0 inset;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5%;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.searchValue {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 10px #00a1e0;
          box-shadow: 0px 0px 10px 10px #00a1e0;
  text-align: center;
}

.ballserch {
  -webkit-filter: drop-shadow(0px 0px 12px black);
          filter: drop-shadow(0px 0px 12px black);
}

.ballserch:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.containerSearch {
  margin: 0px 10%;
  width: 90%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(245, 245, 245, 0.515);
}
/*# sourceMappingURL=style.css.map */